body {
  color: #000000;
  background-color: #113106;
}

a,
button.btn {
  color: #000000;
  transition-duration: 0.5s;
  text-decoration: underline dotted #848d96 1px;
}

a:hover, button.btn:hover {
  color: #ececec;
  transition-duration: 0.1s;
  text-decoration: underline dotted #ffffff 1px;
}

.c4-izmir {
  --primary-color: #113106;
}

.fancybox-progress {
  background: #008000;
}
