{{ define "gallery" }}
  <div class="col-lg-6 p-0" id="gallery-panel">
    {{ $videoPath := partial "featureimage/bg-video.html" . }}
    {{ $imagePath := partial "featureimage/plain.html" . }}
    
    {{ if $videoPath }}
      <video autoplay muted loop playsinline id="bg-video">
        <source src="{{ $videoPath }}" type="video/mp4">
      </video>
    {{ else if $imagePath }}
      <div class="background-image-overlay" style="background-image: url('{{ $imagePath }}');"></div>
    {{ end }}
    
    <div class="container-fluid h-100 p-0">
    </div>
  </div>
{{ end }}

{{ define "main_content" }}
  {{ .Content }}
{{ end }}

{{ define "lists" }}
  {{ if .Date }}
    <div class="col">
      <ul class="list-unstyled" id="list-metadata">
        <li><i class="fa fa-file fa-fw"></i> {{ i18n "publishedAt" (.Date.Format "2006-01-02") }}</li>
      </ul>
    </div>
  {{ end }}
  {{ partial "seealso.html" . }}
{{ end }}